.SatyamMainContainer {
  width: 100vw;
  position: relative;
}

.SatyamSecondContainer {
  width: 90%;
  margin: 200px auto 200px auto;
}

.SatyamHeaderBox {
  display: flex;
  align-items: center;
  gap: 30px;
}

.SatyamImgBox {
  width: 200px;
  height: 150px;
}

.SatyamImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.SatyamHeaderHeading {
  font-size: clamp(3rem, 4vw, 4rem);
  color: var(--blue-color);
}

.SatyamHeaderPara {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: 0;
  line-height: 1.5;
  color: var(--blue-color-v1);
}

.Satyamabouttxt {
  font-size: clamp(1.3rem, 2vw, 1.8rem);
  line-height: 1.5;
  letter-spacing: 1px;
}
