.sectionOne {
  padding-top: 200px;
  z-index: 4;
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.SectionOneBox {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.lineone {
  position: absolute;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;
  transform: rotate(30deg);
  transform-origin: left top;
  top: -10%;
  left: 48%;
  z-index: -1;
  width: 200px;
  background-color: var(--rotatebox);
  animation-name: lineanione;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes lineanione {
  from {
    height: 0;
  }
  to {
    height: 900px;
  }
}

.linetwo {
  position: absolute;
  top: -200px;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;
  transform: rotate(30deg);
  transform-origin: left top;
  top: -10%;
  left: 63%;
  z-index: -1;
  width: 200px;
  background-color: var(--rotatebox);
  animation-name: lineanitwo;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes lineanitwo {
  from {
    height: 0;
  }
  to {
    height: 850px;
  }
}

.coachingboxOne {
  width: 600px;
}

.coachOneImgBox {
  width: 200px;
  height: 100px;
}

.coachingImg {
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.sectionHeading {
  font-size: 4rem;
  font-weight: 400;
}

.sectionPara {
  font-size: 1.2rem;
  line-height: 1.6;
}

.coachinglinkbox {
  width: 190px;
  position: relative;
}

.coachinglinkCircle {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: var(--orange);
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  animation-name: linkcircle;
  animation-duration: 3s;
  animation-timing-function: 1s ease;
  animation-fill-mode: forwards;
}

@keyframes linkcircle {
  from {
    width: 1px;
    height: 1px;
  }
  to {
    transform: scale(50);
  }
}

.coachinglink {
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 20px 20px 0;
}

.sectionTwoLastLayer {
  width: 600px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.firstPicBox {
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--blue-light-v1);
  overflow: hidden;
}

.firstimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.twoPicBox {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: var(--orange);
  overflow: hidden;
}

.twoimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.threePicBox {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: var(--blue-light-v2);
  overflow: hidden;
}

.threeimg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.halfbox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -200px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 90%;
  height: 45%;
  background-color: white;
  z-index: 0;
  animation-name: halfboxanim;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes halfboxanim {
  from {
    top: -200px;
  }
  to {
    top: 10px;
  }
}

.fourPicBox {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--btn-color);
  overflow: hidden;
}

.fourimg {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.halfellips {
  position: absolute;
  top: 15px;
  width: 270px;
  height: 135px;
  left: 15px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  z-index: 0;
  background-color: white;
  transform: rotate(0deg);
  transform-origin: center bottom;
  animation-name: circleanim;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes circleanim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.smallPolygon {
  position: absolute;
  top: -10px;
  left: 15px;
  width: 50px;
  height: auto;
  z-index: 0;
}

.smallEllipse {
  position: absolute;
  top: 280px;
  left: -50px;
  width: 40px;
  height: auto;
  z-index: 0;
}

.smallStar {
  position: absolute;
  bottom: -20px;
  left: -50px;
  width: 40px;
  height: auto;
  z-index: 0;
}

.smallhalfEllipse {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 40px;
  height: auto;
  z-index: 0;
}
