.mainContainer {
  width: 100vw;
}

.fullImgContainer {
  width: 90%;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.secondContainerHeading {
  font-size: clamp(3rem, 4vw, 4rem);
  margin-bottom: 50px;
  color: var(--blue-color);
}

.secondContainer {
  width: 90%;
  margin: 200px auto;
}

.secondContainerImgBox {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.closingBox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.486);
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdropClose {
  display: none;
}

.openImagePage {
  width: 80%;
  height: 80%;
}

.fullImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 600px) {
  .openImagePage {
    width: 90%;
    height: 50%;
  }
}
