.mainContainer {
  width: 100vw;
}

.fullImgContainer {
  width: 90%;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.secondContainerHeading {
  font-size: clamp(3rem, 4vw, 4rem);
  margin-bottom: 50px;
  color: var(--blue-color);
}

.fullImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.secondContainer {
  width: 90%;
  margin: 200px auto;
}

.secondContainerImgBox {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.closeImg {
  font-size: clamp(1.2rem, 3vw, 4rem);
  font-weight: bold;
  color: red;
  cursor: pointer;
}
