.footerContainer {
  width: 100vw;
  background-color: var(--blue-color-v1);
}

.footerLink {
  text-decoration: none;
  color: white;
}

.footerContainerInside {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  width: 100px;
  margin-bottom: 80px;
}

.footerLogoImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.socialLogo {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.footerFollowtxt {
  font-size: 1rem;
  color: white;
}

.logo {
  width: auto;
  height: 25px;
  object-fit: contain;
  object-position: center;
}

.footerContact {
  width: min(100%, 500px);
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.footerContactBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerContactIconBox {
  width: 30px;
}

.footerContactIcon {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.footerHome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.footerHome > p {
  font-size: 1rem;
  letter-spacing: 1.4px;
  color: white;
}

.footerContactTxt {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  color: white;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 950px) {
  .footerContactBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .footerContainerInside {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}
