.form {
  width: 100%;
}

.form > input {
  width: 90%;
  display: block;
  border-radius: 10px;
  border: 1px solid var(--txtBlack);
  margin-bottom: 10px;
  padding: 10px;
}

.form > textarea {
  display: block;
  width: 60%;
  resize: none;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
}

.form > button {
  background-color: var(--orange);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
