.admissionMainContainer {
  max-width: 100vw;
  position: relative;
}
.admissioncontainer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.smalhead {
  font-size: clamp(1.2rem, 2vw, 1.2rem);
  letter-spacing: 1.6px;
}

.heading {
  font-size: clamp(3rem, 4vw, 4rem);
}

.headbox {
  margin-bottom: 50px;
}

.containerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.birbox {
  /* width: min(100%, 800px); */
  width: 500px;
  flex-basis: auto;
  border-radius: 20px;
  background-color: var(--blue-color);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
}

.birfirst {
  padding: 20px 20px 0px 20px;
  display: flex;
  gap: 20px;
}

.birimgbox {
  width: min(20%, 150px);
}

.birimg {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.birtxt {
  color: white;
  letter-spacing: 1.5px;
  font-size: 1rem;
}

.bircourse {
  font-size: 1.5rem;
  padding: 0;
  color: white;
  padding-left: 20px;
  /* letter-spacing: 1px; */
  font-weight: 600;
  position: relative;
}

.bircourse::after {
  content: "";
  bottom: 0;
  width: 50px;
  height: 5px;
  border-radius: 20px;
  background-color: var(--orange);
  display: block;
}

.bripara {
  /* height: 25px; */
  font-size: 1.1rem;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2;
  letter-spacing: 1px;
  overflow-y: hidden;
}

.coursbtn {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: var(--orange);
}

.secondcontainer {
  width: min(100%, 700px);
}

.satyamhead {
  display: flex;
  gap: 20px;
}

.sathead {
  font-size: 2rem;
  color: white;
}

.satpara {
  color: white;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.satyamcontainer {
  width: 500px;
  flex-basis: auto;
  /* width: min(100%, 500px); */
  background-color: var(--blue-light-v2);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
}

.satyamimgbox {
  width: min(20%, 150px);
}

.satyamimg {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.satyamcourse {
  font-size: 1.5rem;
  padding: 0;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
}

.satyamcourse::after {
  content: "";
  bottom: 0;
  width: 50px;
  height: 5px;
  border-radius: 20px;
  background-color: var(--orange);
  display: block;
}

.satyampara {
  font-size: 1.1rem;
  color: white;
}

.satyamsbtn {
  border-radius: 30px;
  border: none;
  background-color: var(--orange);
  padding: 10px 20px;
  border-radius: 30px;
}

.satyambox {
  padding: 20px;
}

.satyamcontainerTwo {
  /* width: 100%; */
  width: 500px;
  flex-basis: auto;
  background-color: var(--blue-light-v4);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
}

.satyaitimbox {
  padding: 20px;
}

.satyitiamhead {
  display: flex;
  gap: 20px;
}

.satitihead {
  font-size: 2rem;
  color: var(--txtBlack);
}

.satitipara {
  font-size: 1.1rem;
  color: var(--txtBlack);
}

.satyamiticourse {
  font-size: 1.5rem;
  padding: 0;
  color: var(--txtBlack);
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
}

.satyamiticourse::after {
  content: "";
  bottom: 0;
  width: 50px;
  height: 5px;
  border-radius: 20px;
  background-color: var(--orange);
  display: block;
}

.satyamitiparatwo {
  color: var(--txtBlack);
  font-size: 1.1rem;
}

.tide {
  position: absolute;
  top: 10%;
  left: 40%;
  width: min(50%, 600px);
}

.dotgroup {
  width: 30%;
  position: absolute;
  top: 55%;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

@media screen and (max-width: 1722px) {
  .tide {
    position: absolute;
    top: 5%;
    left: 30%;
    width: min(50%, 400px);
  }

  .containerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .birbox {
    width: min(90%, 700px);
    border-radius: 20px;
    background-color: var(--blue-color);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
  }

  .satyamcontainer {
    width: min(90%, 700px);
    background-color: var(--blue-light-v2);
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
  }

  .satyamcontainerTwo {
    width: min(90%, 700px);
    background-color: var(--blue-light-v4);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 1024px) {
  .containerbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
  }

  .birbox {
    width: min(100%, 700px);
    border-radius: 20px;
    background-color: var(--blue-color);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
  }

  .satyamcontainer {
    width: min(100%, 700px);
    background-color: var(--blue-light-v2);
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
  }

  .satyamcontainerTwo {
    width: min(100%, 700px);
    /* width: 300px;
    flex-basis: auto; */
    background-color: var(--blue-light-v4);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
  }

  .dotgroup {
    display: none;
  }

  .tide {
    display: none;
  }
}
